.type_something {
  color: fuchsia;
  height: 55vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }

  span {
    color: fuchsia;
    font-size: 30px;
  }
}